{% extends "base.html" %}


{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Build A Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/blog">Home</a></li>
            <li><a href="/blog/newpost">New Post</a></li>
        </ul>
    </div>
</nav>
{% for post in posts %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1><a href="/blog/{{post.key().id()}}">{{post.title}}</a></h1>
                <pre>{{post.body}}</pre>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}
